.page_about {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  height: 100%;
}

.page_header{
  background-color:red;
  width:33%;
}

.paragraph_body{
  /* this one should be left */
  /* TODO: remove me */
  border-width:1px;
  border-style: dotted;
  border-color:yellow;
  width: 33%;
}

.pragraph_title {
  width:67%;
}