.project_catalogue {
  background-color: gold;

  ul {

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    width: 100%;
    height: 100vh;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  li {
    width: 25%;
    height: 25%;
  }

  .project_thumbnail_container{
    width: 100%;
    height: 100%;
  }

  .blackBackdrop{
    height: 100%;
    width: 100%;
    background-color: rgba(1,1,1,0.5);
    position: relative;
    top: -100%;
    display:none;

    backdrop-filter: blur(2px);
  }

  .project_thumbnail_container:hover .blackBackdrop{
    // background-color:red;
    display: block;
  }

  .project_thumbnail_background{
    width: 100%;
    height: 100%;

    background-position: center;
  }

  .thumbnailTitleContainer{
    width: 100%;
    position: relative;
    top: 25%;
    text-align: center;
  }

  .thumbnailTitle {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }

  p {
    font-size: 1.2em;
    font-family: Montserrat,sans-serif;
  }

  .faClass{
    color: red;
  }

  .MagniferIcon{
    margin-bottom: 1.1em;
  }
}