.helloworld {
  background-color: gold;

  ul {

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    width: 100%;
    height: 100vh;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  li {
    width: 25%;
    height: 25%;
  }
}