.main{
  display: flex;
  flex-direction: row ;
  width: 100%;
}

.content {
  /* background-color: red; */

  width: calc( 100vw - 20vw ) ;
  background-color: #ecf0f1;
}

.App {
  display: flex;
  flex-direction: row ;


  width: 100%;
}

#root {
  background-color: #ecf0f1;

  display: blcok;
  width:100%;
  height: 100%;
}

body{
  padding: 0px;
  margin: 0px;
  height: 100vh;

}

.helloworld {
  background-color: red;
}