.NavMiddle{
  padding-top: 1em;
  height: 33vh;

  a {
    color: #fff;
  }

  ul {
    list-style: none;
    li {
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: #fff;
    }
  }
}
