@import '../../var.scss';

@media only screen and (min-width: $break-small) {
  .GreetingPlate {
    display: none;
  }

}

@media only screen and (min-width: $break-large) {}

.NavTop {
  height: 33vh;

  text-align: center;

  .GreetingPlate {
    font-size: 2em;
    color: #fff;
    text-align: center;
    padding-top: 80px;
  }

  .NavAvatar {
    width: 100%;
    text-align: center;


    img {
      background-color: gold;

      width: 115px;
      height: 115px;
      margin-top: 50px;
      border-radius: 50%;
    }
  }
}
